::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button:no-button {
}
::-webkit-scrollbar-track-piece {
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255,255,255);
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply border-4 border-gray-50 shrink-0 rounded-3xl py-10 px-7 min-w-max;
  width: 80%;
}
.imgs{
  display: flex;
  flex:1;
  width: 200px;
  object-fit: scale-down;
}
